@()(implicit request: RequestHeader)
@import play.api.Play

@header = {
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/chat.css")" />
}
@templates.main("Server Push Chat", header = header){
    <script src="@routes.Assets.at("javascripts/jquery.cookie.js")" type="text/javascript"></script>
    <script>
        var settings = {
            "assetsDir": "@routes.Assets.at("").url",
            "wsBaseUrl": "@routes.ChatController.chatWS("").webSocketURL()"
        }
        ChatJS().main(settings)
    </script>
}
